@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,100;1,300&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  background-color: #000000; }

.flexible--row {
  display: flex;
  flex-direction: row; }

.flexible--rowWrap {
  display: flex;
  flex-flow: row wrap; }

.flexible--rowReverse {
  display: flex;
  flex-direction: row-reverse; }

.flexible--column {
  display: flex;
  flex-direction: column; }

.flexible--columnReverse {
  display: flex;
  flex-direction: column-reverse; }

.flexible--columnWrap {
  display: flex;
  flex-flow: column wrap; }

.button {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #000000;
  font-family: "Josefin Sans", sans-serif;
  font-size: 100%;
  font-weight: 700;
  width: fit-content;
  border-radius: 75px;
  transition: all .1s;
  padding: 1%;
  font-weight: 400; }
  .button:hover {
    transform: scale(1.1, 1.1);
    color: #000000;
    background-image: linear-gradient(180deg, #10ae1d, #1feb30); }

.mainTitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 500%;
  font-weight: 100;
  color: #ffffff;
  padding: 1%;
  font-style: italic; }

.subTitle {
  color: #ffffff;
  text-align: center;
  border-radius: 75px;
  padding: 1%;
  font-size: 300%;
  margin: 3% 0%;
  transition: all .7s; }
  .subTitle:hover {
    box-shadow: 1px 0px 10px 1px #1feb30; }
    .subTitle:hover span {
      color: #1feb30; }

.text--justify {
  font-size: 150%;
  text-align: justify;
  font-weight: 300; }

header {
  justify-content: space-around;
  margin: 0;
  padding: 2%;
  z-index: 8;
  position: sticky;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.95);
  border-bottom: 2px solid #1feb30; }
  header nav {
    width: 100%;
    justify-content: flex-end;
    align-items: center; }
    header nav .menu {
      justify-content: space-around;
      width: 70%;
      list-style: none;
      font-family: "Josefin Sans", sans-serif;
      font-size: 100%;
      font-weight: 600; }
      header nav .menu a {
        color: inherit;
        text-decoration: none; }
  header .logo {
    font-family: "Josefin Sans", sans-serif;
    font-size: 300%;
    font-weight: 200; }

.section, .meSection {
  padding: 2%;
  border-radius: 75px; }
  .section div, .meSection div {
    justify-content: space-evenly; }
    .section div .project, .meSection div .project, .section div .technology, .meSection div .technology {
      margin: 1%;
      padding: 2%;
      border-radius: 50px;
      width: 25%;
      transition: all .5s;
      justify-content: space-around;
      align-items: center; }
      .section div .project img, .meSection div .project img, .section div .technology img, .meSection div .technology img {
        width: 80%;
        height: auto;
        border-radius: 10px; }
      .section div .project .button, .meSection div .project .button, .section div .technology .button, .meSection div .technology .button {
        padding: 2%;
        width: 100%; }
      .section div .project .title, .meSection div .project .title, .section div .technology .title, .meSection div .technology .title {
        font-family: "Josefin Sans", sans-serif;
        font-size: 250%;
        font-weight: 400;
        margin: 1%;
        padding: 2%;
        text-align: center; }
      .section div .project a, .meSection div .project a, .section div .technology a, .meSection div .technology a {
        text-decoration: none;
        width: 50%; }
      .section div .project:hover, .meSection div .project:hover, .section div .technology:hover, .meSection div .technology:hover {
        box-shadow: 1px 0px 10px 1px #1feb30; }
        .section div .project:hover span, .meSection div .project:hover span, .section div .technology:hover span, .meSection div .technology:hover span {
          color: #1feb30; }
    .section div .technology, .meSection div .technology {
      width: 10%;
      font-size: 70%; }

.meSection {
  margin: 2%;
  background-image: url("../img/meSectionBG2.jpg");
  transition: all .5s; }
  .meSection:hover {
    transform: scale(1.005, 1.005);
    background-image: url("../img/meSectionBG.jpg");
    box-shadow: 1px 0px 10px 1px #1feb30; }
    .meSection:hover .mainTitle span {
      color: #1feb30; }

.footer {
  margin: 0;
  padding: 2%;
  justify-content: space-evenly;
  border-top: 2px solid #1feb30; }
  .footer a {
    width: 40%;
    text-align: center; }
