@import 'colors', 'fontFamilies', 'mixins';

*{
    @include marPad(0,0);
}

body{
    color: map-get($mainCol, secondary);
    font-family: $primaryFont;
    background-color:  map-get($mainCol, primary);
}

.flexible--row{
    display: flex;
    flex-direction: row;
}

.flexible--rowWrap{
    display: flex;
    flex-flow: row wrap;
}

.flexible--rowReverse{
    display: flex;
    flex-direction: row-reverse;
}

.flexible--column{
    display: flex;
    flex-direction: column;
}

.flexible--columnReverse{
    display: flex;
    flex-direction: column-reverse;
}

.flexible--columnWrap{
    display: flex;
    flex-flow: column wrap;
}

.button{
    text-decoration: none;
    cursor: pointer;
    @include colAndBGCol(map-get($mainCol, secondary), map-get($mainCol, primary));
    @include fonts($primaryFont, 100%, 700);
    width: fit-content;
    border-radius: 75px;
    transition: all .1s;
    padding: 1%;
    font-weight: 400;
    &:hover{
        transform: scale(1.1, 1.1);
        color: map-get($mainCol, primary);
        background-image: linear-gradient(180deg, map-get($darkMainCol, darkerTerciary), map-get($mainCol, terciary));
    }
}

.mainTitle{
    @include fonts($primaryFont, 300%, 100);
    color: map-get($mainCol, secondary);
    padding: 1%;
    font-style: italic;
    //@include colAndBGCol(, map-get($mainCol, primary));
}

.subTitle{
    //@include colAndBGCol(map-get($mainCol, primary), map-get($mainCol, terciary));
    color: map-get($mainCol, secondary);
    text-align: center;
    border-radius: 75px;
    padding: 1%;
    font-size: 300%;
    margin: 3% 0%;
    transition: all 1s;
    //animation: subTitleAnimation 5s alternate infinite;
    &:hover{
        span{
            color: map-get($mainCol, terciary);
        }
        box-shadow: 1px 0px 10px 1px map-get($mainCol, terciary);
    }
}

header{
    justify-content: space-around;
    @include marPad(0,2%);
    z-index: 8;
    position: sticky;
    top:0px;
    background-color: map-get($transpMainCol, transPrimary);
    border-bottom: 2px solid map-get($mainCol, terciary);
    nav{
        width: 100%;
        justify-content: flex-end;
        align-items: center;

        .menu{
            justify-content: space-around;
            width: 70%;
            list-style: none;
            @include fonts($primaryFont, 100%, 600);

            a{
                color: inherit;
                text-decoration: none;
            }

        }

    }
    

    .logo{
        @include fonts($primaryFont, 300%, 200);
    }
}

.section{
    
    padding: 2%;

    div{
        justify-content: space-evenly;

        .project{
            @include marPad(1%, 2%);
            border-radius: 50px;
            width: 25%;
            //background-color: map-get($lightMainCol, lighterPrimary);
            transition: all .5s;
            justify-content: space-around;
            align-items: center;
    
            img{
                @include sizes(80%, auto);
                border-radius: 10px;
            }
    
            

            .button{
                padding: 2%;
                width: 100%;
            }
    
            .title{
                    @include fonts($primaryFont, 250%, 400);
                    @include marPad(1%, 2%);
                    text-align: center;
            }  
            
            a{
                text-decoration: none;
                width: 50%;
            }
    
            &:hover{
                box-shadow: 1px 0px 10px 1px map-get($mainCol, terciary);
                span{
                    color: map-get($mainCol, terciary);
                }
            }
        }

        .technology{
            @extend.project;
            width: 10%;
            font-size: 70%;
        }

    }
    
}

.footer{
    @include marPad(0, 2%);
    justify-content: space-evenly;
    border-top: 2px solid map-get($mainCol, terciary);
    a{
        width: 40%;
        text-align: center;
    }
}