---
export interface BadgeProps {
    href?: string
    icon?: Astro
    className?: string
}

interface Props extends BadgeProps {}

const {href = "/#", icon, className} = Astro.props
---
<a href={href} target="_blank">
    <span class={`bg-accent-300 text-accent-900 flex gap-x-1 text-base items-center font-semibold me-2 px-2.5 py-0.5 rounded-full ${className}`}> 
        <slot name="before" /> 
        <slot />
        <slot name="after" /> 
    </span>
</a>
