---
import type { EMenuItems } from '../types/EMenuItems'

export interface MenuItemProps {
    label:string,
    menuItem: EMenuItems
    href?:string
}

interface Props extends MenuItemProps {}

const {label, href = "#"} = Astro.props


---

<a 
    class:list={["p-2 font-semibold hover:text-accent-300"]}
    href={href}
    >
    {label}
</a>


<style>
    a{
        transition: all 0s;
    }

    .active {
        color: theme('colors.accent.500');
        border-bottom: 2px solid theme('colors.accent.500');
    }
</style>