---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import '@fontsource-variable/exo-2'
import {EMenuItems} from '../types/EMenuItems'
import { ViewTransitions } from 'astro:transitions';
import Wrapper from '../components/Wrapper.astro'
interface Props {
	title: string;
	description?:string
}

const { title, description = "" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="img/NM.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="w-full flex">
		
		<Wrapper>
			<Header/>
			<slot />
			<Footer />
		</Wrapper>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: 'Exo 2 Variable', sans-serif;
		scroll-behavior: smooth;
	}
	body{
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100vh;
		background: rgb(1,24,43);
		background: radial-gradient(circle, rgba(1,24,43,1) 11%, rgba(1,12,22,1) 71%, rgba(0,0,0,1) 100%);
	}
</style>
